html {
    font-family: 'Roboto', sans-serif;
    color:rgb(48, 48, 48)
}

body {
    background-color: rgb(192, 253, 233);
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table {
    display: flex;
    justify-content: center;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 100px;
}

td {
    text-align: center;
    border: solid 2px black;
    padding: 5px;
    margin: 5px
}

th {
    text-align: center;
    border: solid 2px black;
}

button {
    margin-top: 10px;
}

#newBook {
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    justify-content: center;
}