html {
    font-family: 'Roboto', sans-serif;
    color:rgb(48, 48, 48)
}

body {
    background-color: rgb(191, 249, 230);
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 4em;
}

table {
    display: flex;
    justify-content: center;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
}

table td, table th {
    background-color: rgb(178, 237, 217);
    box-shadow: 10px 5px 7px grey;
}

td {
    text-align: center;
    border: solid 2px black;
    padding: 5px;
    margin: 5px
}

th {
    text-align: center;
    border: solid 2px black;
}

button {
    margin-top: 10px;
    background-color: rgb(198, 198, 198);
    border: none;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
}

.timeRead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#delete, #update, #newBook {
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    justify-content: center;
}


.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.headerRow {
    font-weight: bold;   
}